@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1684761352845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tishi:before {
  content: "\f00b6";
}

.icon-home:before {
  content: "\f0174";
}

.icon-tag:before {
  content: "\e694";
}

.icon-friend:before {
  content: "\e609";
}

.icon-book:before {
  content: "\e629";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-friend1:before {
  content: "\e616";
}

.icon-tag1:before {
  content: "\e624";
}

.icon-home1:before {
  content: "\e631";
}

.icon-fenlei1:before {
  content: "\e71b";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-home2:before {
  content: "\e626";
}

.icon-Tag:before {
  content: "\e8b8";
}

.icon-link:before {
  content: "\e772";
}

.icon-fenlei2:before {
  content: "\e625";
}

.icon-16:before {
  content: "\e615";
}

.icon-diandengpao:before {
  content: "\e6bd";
}

.icon-home3:before {
  content: "\e6bc";
}

.icon-link1:before {
  content: "\e6c3";
}

.icon-tag2:before {
  content: "\e608";
}

.icon-Tag1:before {
  content: "\e635";
}

.icon-about:before {
  content: "\e62f";
}

